/* Barra de Navegacion */
.navbar {
    padding: 0.6rem;
    background-color: #F3F5FC;
    
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    color: #0A3871;
    font-size: 16px; 
    line-height: 36px; 
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
/*Estilos generales*/
body {
    background-color: #F3F5FC;
   
}
/*Encriptador*/
.rectangulo {
   background-color: white;
   padding: 60px;
   border-radius: 16px;
   max-width: 600px;
   margin-top: 10px;
}
input[type="text"] {
   
    color: #0A3871;
    background: #F3F5FC;
    border: transparent;
    outline: none;
    
    
}
input[type="text"]::placeholder {
    color: #0A3871;
    
    
}
.resultado{
  
    color: #0A3871;
    font-family: "Inter", sans-serif;
    
    }

.main_titulo {
    
    color: #0A3871;
    font-size: 20px; 
    line-height: 36px; 
    font-weight: 400;
    font-family:"Inter", sans-serif;
    
    width: 60%;
    
}
#clear-input {
    display: block;
    width: 60px;
    padding: 4px 0; 
    border-radius: 8px; 
    font-size: 12px; 
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #0A3871;
    background-color:#F3F5FC;
    color: #0A3871;
    cursor: pointer;
     
}
.boton_pegar {
    display: block;
    width: 60px; /* Mismo ancho que los botones de cifrar y descifrar */
    padding: 4px 0; 
    border-radius: 8px; 
    font-size: 12px; 
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #0A3871;
    text-align: center;
    margin-top: 5px; /* Espacio sobre el botón */
    background-color: #F3F5FC; /* Color de fondo */
    color: #0A3871; /* Color de texto */
    cursor: pointer;
}
.hidden {
    display: none;
}

.main_frase {
    margin-top: 250px;
    font-size: 10px;
    color:#495057;
    width: 300px; 
    height: 13.5px; 
    font-family: "Inter", sans-serif;
   
}
.boton_copiar {
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #0A3871;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    text-align: center;
    width: 288px; 
    padding: 18px 0; 
    border-radius: 16px; 
    font-size: 14.4px; 
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #0A3871
}
.botones {
    display: flex;
    gap: 24px;
    font-family: "Inter", sans-serif;
    justify-content: center;
    
    
}
.boton_cifrar, .boton_descifrar {
    text-align: center;
    width: 288px; /* Reducido en un 0.9 */
    padding: 18px 0; /* Reducido en un 0.9 */
    border-radius: 16px; /* Reducido en un 0.9 */
    font-size: 14.4px; /* Reducido en un 0.9 */
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #0A3871;
    cursor: pointer;
}
.main_caja_1, .main_caja_2 {
    color: #0A3871;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    
}
footer {
    display: flex;
    background-color: #F3F5FC;
    height: 40px;
    padding-left: 40px;
    color: #0A3871;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    gap: 15px
    
}
i {
font-size: 14px;
color: #0A3871;
}
.boton_cifrar {
    color: #F3F5FC;
    background-color: #0A3871;
}

.boton_descifrar {
    color: #0A3871;
    background-color: #F3F5FC;
}

.boton_cifrar:hover {
background-color: #072242;
transition: all 0.2s ease-in;

}
.boton_descifrar:hover {
background-color: #aab2d585;
transition: all 0.2s ease-in;

}
.boton_copiar:hover {
color: #072242;
background-color: #aab2d585;
transition: all 0.2s ease-in;
}
.boton_pegar:hover {
    background-color: #aab2d54d;
    transition: all 0.2s ease-in;
}
#clear-input:hover {
    background-color: #aab2d54d;
    transition: all 0.2s ease-in;
}
/*Responsivo*/

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
  .main{
    max-width: 100%;
  }
   .rectangulo{
    max-width: auto;
   }
   .boton_copiar {
    max-width: 80%;
}
}
